<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <div class="page-wrap">
      <header class="page-header"><%- include('partials/header'); %></header>
      <nav class="page-nav">
        <details id="nav-details">
          <summary>Menu</summary>
          <ul>
            <% for (let i = 0; i < nav.length; i++) { %>
            <li><a href="<%= nav[i].link %>"><%= nav[i].title %></a></li>
            <% } %>
          </ul>
        </details>
      </nav>

      <main class="page-main">
        <article>
          <%- include('partials/reservation-form', { equipmentId: equipmentId,
          equipmentName: equipmentName }) %>
        </article>
      </main>

      <footer class="page-footer"><%- include('partials/footer'); %></footer>
    </div>
    <script src="/js/menu.js"></script>
    <script src="/js/toggle-theme.js"></script>
    <script src="/js/submitReservation.js"></script>
    <script src="/js/date-box.js"></script>
    <script src="/js/sw.js"></script>
  </body>
</html>
